.col-md-4.blog-main.box.text-center{:id => "instruction_#{instruction.id}"}
  .panel.panel-info
    .panel-heading
      %h3.panel-title= instruction.title
      %p= link_to t('instructions.instruction.youtube-link'), instruction.youtube_link
      = t('instructions.instruction.tags-listing')
      %h4= raw tag_links(instruction.all_tags)
      - if user_signed_in?
        - if current_user.id == instruction.user_id
          .circle
          .delete-icon
            = link_to '', instruction, method: :delete, class: "glyphicon glyphicon-remove", remote: true
    .btn-group{"aria-label" => "...", :role => "group"}
      - if user_signed_in?
        - if current_user.id == instruction.user_id
          %button.btn.btn-warning{:"data-toggle" => "modal", :type => "button",
          :"data-target" => "#myupdateinstruction_#{instruction.id}"}
            = t('instructions.instruction.edit')
    = link_to t('instructions.instruction.show'), instruction, class: "btn btn-default"
  = form_for(instruction, :method => :put, remote: true) do |f|
    .modal.fade{"aria-labelledby" => "myModalLabel", :id => "myupdateinstruction_#{instruction.id}", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :tupe => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4#myModalLabel.modal-title
              = t('instructions.instruction.edit')
          .modal-body
            .field
              = f.label t('instructions.instruction.title-name')
              = f.text_area :title, class: "form-control instruction_title"
              = f.label t('instructions.instruction.youtube-link')
              = f.text_area :youtube_link, class: "form-control instruction_body"
              =f.label t('instructions.instruction.tags-listing')
              =f.text_area :all_tags, class: "form-control instruction_all_tags", placeholder: t('instructions.instruction.tags-help')
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :id => "myupdatebutton_#{instruction.id}", :type => "button"} Close
            = submit_tag "Update", class: "btn btn-primary"
