.container
  - if user_signed_in?
    .row
      .text-center
        .button-create
          %button.btn.btn-primary.btn-lg{"data-target" => "#mynewinstruction", "data-toggle" => "modal", :type => "button"}
            = t('instructions.index.create-instruction')
  #container_instructions.row
    = render @instructions

  = form_for(@instruction, remote: true) do |f|
    #mynewinstruction.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"}
            %h4#myModalLabel.modal-title
              = t('instructions.index.title')
          .modal-body
            .field
              = f.label t('instructions.index.title-name')
              = f.text_area :title, class: "form-control instruction_title"
              = f.label t('instructions.index.youtube-link')
              = f.text_area :youtube_link, class: "form-control instruction_body"
              =f.label t('instructions.index.tags-listing')
              =f.text_area :all_tags, class: "form-control instruction_all_tags", placeholder: t('instructions.index.tags-help')
          .modal-footer
            %button#mynewinstructionclose.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              = t('instructions.index.close-modal')
            = submit_tag t('instructions.index.create-instruction'), class: "btn btn-primary"
.tags-cloud.glassy-bg
  = render partial: "tags"
.paginating
  = paginate @instructions

