.stepping-maps
  - if @can_edit
    .col-md-12.blog-main.box.text-center{:id => "step_#{step.id}"}
      %h3.panel-title= step.description
      .edit{:"data-toggle" => "modal", :type => "link", :"data-target" => "#myupdatestep_#{step.id}"}
        .panel-heading
          .image-settings
            %img{src: "http://res.cloudinary.com/dtbx6e5eb/#{step.image}",:height => "600em", :width => "600em" }
  - else
    .col-md-3.blog-main.box.text-center{:id => "step_#{step.id}"}
      .panel.panel-info
        %h3.panel-title= step.description
        .panel-heading
          .image-settings
            = link_to step do
              %img{src: "http://res.cloudinary.com/dtbx6e5eb/#{step.image}", :height => "100%", :width => "100%"  }
      - if user_signed_in?
        - if current_user.id == step.user_id
          .circle
          .delete-icon
            = link_to '', step, method: :delete, class: "glyphicon glyphicon-remove", remote: true
  - if user_signed_in?
    - if current_user.id == step.user_id
      = form_for(step, :method => :put, remote: true) do |f|
        .modal.fade{"aria-labelledby" => "myModalLabel", :id => "myupdatestep_#{step.id}", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :tupe => "button"}
                  %span{"aria-hidden" => "true"} ×
                %h4#myModalLabel.modal-title
                  = t('steps.step.edit-step')

              .modal-body
                .field
                  = t('steps.step.description')
                  %br/
                  = f.text_area :description, class: "form-control"
                #direct_upload.basic-form.dz-clickable.needsclick
                  .dz-message.needsclick.dz-clickable
                    = t('steps.index.dropzone')
                  = hidden_field_tag :direct, params[:direct]
              .modal-footer
                = submit_tag t('steps.step.update-modal'), class: "btn btn-primary"
